   <header>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= image_tag 'logo.png', :class => "img-fluid d-none d-md-block p-5" %>
        </div>
      </div>
    </div>
   </header>
   <div class="container">
    <div class="row">
      <div class="col">
        <p>
          There's new contact from website:
        </p>
        <p>Name: <%= @customer.name %></p>
        <p>Mail: <%= @customer.mail %></p>
        <p>Phone: <%= @customer.phone_number %></p>
        <p>Message: <%= @customer.message %></p>
      </div>
    </div>
   </div>
    
    